<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Produits</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Gestion des produits</h1>
    <div id="product-form">
        <input id="name" type="text" placeholder="Nom">
        <input id="price" type="number" placeholder="Prix">
        <textarea id="description" placeholder="Description"></textarea>
        <button id="ajouter">Ajouter</button>
    </div>
    <ul id="product-list"></ul>
    <script type="module" src="../controller/app.js"></script>
</body>
</html>
